  .entry-editor {
    min-height: 90vh;
    align-items: center;
    // margin-left: 200px;
    // margin-right: 200px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .concepts {
      max-height: 650px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .concept-header {
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        color: white;
        background-color: $primary;
      }

      .concept {
        cursor: pointer;
        width: 230px;
        height: 300px;
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.1);

        .concept-title {
          font-weight: bold;
          margin-bottom: 10px;
        }

        .concept-body {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 12;
          max-height: 250px;
          overflow: hidden;
        }
      }
    }

    .entry-form {
      padding-left: 20px;
      padding-right: 20px;

      .title-input {
        display: flex;

        justify-content: center;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 10px;
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.1);

        input {
          width: 100%;
          border: none;
          text-align: center;
        }
      }

      .body-input {
        textarea {
          padding: 30px;
          width: 100%;
          border-radius: 10px;
          border: none;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.1);
        }
      }
    }

    .entry-settings {
      background-color: $primary;
      border-radius: 15px;
      padding: 20px;
      max-height: 600px;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .settings-format {
        .format-header {
          color: white;
          margin-bottom: 10px;
        }
      }

      .settings-options {
        .options-header {
          color: white;
          margin-bottom: 10px;
        }

        .options-wrapper {
          .option {
            cursor: pointer;
            width: 150px;
            height: 30px;
            background-color: white;
            border-radius: 10px;
            margin-bottom: 10px;
            color: $primary;
            border: none;

            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .settings-publish {
        .publish-header {
          color: white;
          margin-bottom: 10px;
        }

        .options-wrapper {
          .option {
            cursor: pointer;
            width: 150px;
            height: 30px;
            background-color: white;
            border-radius: 10px;
            margin-bottom: 10px;
            color: $primary;
            border: none;

            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

